<template>
    <div>
        <t-modal @closed="[clearForm(), activeTab = 'thumbnail']" name="formModal">
            <template v-slot:header>
                <h1 v-if="formObject.route">{{ formObject.title }}</h1>
            </template>

            <div v-if="! formObject.route">
                <div v-if="formLoading" class="flex justify-center">
                    <font-awesome-icon :icon="['fal', 'spinner']" size="2x" pulse/>
                </div>

                <t-alert :show="Boolean(formErrors.message)" :dismissible="false" variant="danger">
                    {{ formErrors.message }}
                </t-alert>
            </div>

            <form
                v-else
                @submit.prevent="updateModel($event.target)"
                :action="formObject.route"
                method="post"
                accept-charset="UTF-8"
                ref="form"
                id="form"
                files="true"
            >
                <input v-model="formObject.method" type="hidden" name="_method">

                <t-alert :show="true" :dismissible="false" class="mb-4">
                    <button
                        @click="showModalInfo = !showModalInfo"
                        class="flex justify-between w-full font-bold"
                        type="button"
                    >
                        Información
                        <font-awesome-icon icon="angle-down" :flip="showModalInfo ? 'vertical' : null"/>
                    </button>

                    <div v-show="showModalInfo" class="mt-4">
                        <b>Miniatura:</b>
                        <ul>
                            <li>Definición: 768 x 768 px</li>
                            <li>Peso máximo: 200 KB</li>
                        </ul>

                        <b class="block mt-4">Original, Lightroom y Photoshop:</b>
                        <p>Las imágenes deben medir exactamente lo mismo. Pueden tener cualquier proporción.</p>

                        <ul class="mt-2">
                            <li>Definición máxima: 2000 x 2000 px</li>
                            <li>Peso máximo: 700 KB</li>
                        </ul>
                    </div>
                </t-alert>

                <t-alert :show="Boolean(formErrors.message)" :dismissible="false" variant="danger">
                    {{ formErrors.message }}
                </t-alert>

                <t-alert :show="formErrors.errors.hasOwnProperty('thumbnail')" :dismissible="false" variant="danger">
                    <ul>
                        <li v-for="error in formErrors.errors.thumbnail">{{ error }}</li>
                    </ul>
                </t-alert>

                <t-alert :show="formErrors.errors.hasOwnProperty('before')" :dismissible="false" variant="danger">
                    <ul>
                        <li v-for="error in formErrors.errors.before">{{ error }}</li>
                    </ul>
                </t-alert>

                <t-alert :show="formErrors.errors.hasOwnProperty('lightroom')" :dismissible="false" variant="danger">
                    <ul>
                        <li v-for="error in formErrors.errors.lightroom">{{ error }}</li>
                    </ul>
                </t-alert>

                <t-alert :show="formErrors.errors.hasOwnProperty('photoshop')" :dismissible="false" variant="danger">
                    <ul>
                        <li v-for="error in formErrors.errors.photoshop">{{ error }}</li>
                    </ul>
                </t-alert>

                <nav class="flex flex-row border-b-2">
                    <button
                        @click="activeTab = 'thumbnail'"
                        :class="['block py-2 px-4 -mb-2px hover:text-blue-500 border-b-2', {'text-blue-500 font-medium border-blue-500': activeTab == 'thumbnail'}]"
                        type="button"

                    >
                        Miniatura
                    </button>
                    <button
                        @click="activeTab = 'before'"
                        :class="['block py-2 px-4 -mb-2px hover:text-blue-500 border-b-2', {'text-blue-500 font-medium border-blue-500': activeTab == 'before'}]"
                        type="button"
                    >
                        Original
                    </button>
                    <button
                        @click="activeTab = 'lightroom'"
                        :class="['block py-2 px-4 -mb-2px hover:text-blue-500 border-b-2', {'text-blue-500 font-medium border-blue-500': activeTab == 'lightroom'}]"
                        type="button"
                    >
                        Lightroom
                    </button>
                    <button
                        @click="activeTab = 'photoshop'"
                        :class="['block py-2 px-4 -mb-2px hover:text-blue-500 border-b-2', {'text-blue-500 font-medium border-blue-500': activeTab == 'photoshop'}]"
                        type="button"
                    >
                        Photoshop
                    </button>
                </nav>

                <div class="pt-2">
                    <div v-show="activeTab == 'thumbnail'">
                        <div @drop.prevent="imageDrop($event, 'thumbnail')" @dragover.prevent class="inline-block relative">
                            <img
                                v-show="thumbnail.url"
                                @click="$refs.thumbnailInput.click()"
                                :src="thumbnail.url"
                                class="cursor-pointer"
                                alt="Miniatura"
                            >
                            <img
                                v-show="! thumbnail.url"
                                @click="$refs.thumbnailInput.click()"
                                v-holder="{img: '768x768', auto: 'yes'}"
                                class="cursor-pointer"
                                alt="Miniatura"
                            >
                            <button
                                v-if="thumbnail.url"
                                @click="imageDelete('thumbnail')"
                                class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                            </button>
                            <button
                                @click="$refs.thumbnailInput.click()"
                                class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                            </button>
                            <input
                                @change="imagePreview($event, 'thumbnail')"
                                class="hidden"
                                ref="thumbnailInput"
                                name="thumbnail"
                                accept="image/*"
                                type="file"
                            >
                            <input v-if="thumbnail.delete" name="thumbnail_delete" value="delete" type="hidden">
                        </div>
                    </div>

                    <div v-show="activeTab == 'before'">
                        <div @drop.prevent="imageDrop($event, 'before')" @dragover.prevent class="inline-block relative">
                            <img
                                v-show="before.url"
                                @click="$refs.beforeInput.click()"
                                :src="before.url"
                                class="cursor-pointer"
                                alt="Original"
                            >
                            <img
                                v-show="! before.url"
                                @click="$refs.beforeInput.click()"
                                v-holder="{img: '2000x2000', auto: 'yes', text: '2000x2000 (máximo)'}"
                                class="cursor-pointer"
                                alt="Original"
                            >
                            <button
                                v-if="before.url"
                                @click="imageDelete('before')"
                                class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                            </button>
                            <button
                                @click="$refs.beforeInput.click()"
                                class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                            </button>
                            <input
                                @change="imagePreview($event, 'before')"
                                class="hidden"
                                ref="beforeInput"
                                name="before"
                                accept="image/*"
                                type="file"
                            >
                            <input v-if="before.delete" name="before_delete" value="delete" type="hidden">
                        </div>
                    </div>

                    <div v-show="activeTab == 'lightroom'">
                        <div @drop.prevent="imageDrop($event, 'lightroom')" @dragover.prevent class="inline-block relative">
                            <img
                                v-show="lightroom.url"
                                @click="$refs.lightroomInput.click()"
                                :src="lightroom.url"
                                class="cursor-pointer"
                                alt="Lightroom"
                            >
                            <img
                                v-show="! lightroom.url"
                                @click="$refs.lightroomInput.click()"
                                v-holder="{img: '2000x2000', auto: 'yes', text: '2000x2000 (máximo)'}"
                                class="cursor-pointer"
                                alt="Lightroom"
                            >
                            <button
                                v-if="lightroom.url"
                                @click="imageDelete('lightroom')"
                                class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                            </button>
                            <button
                                @click="$refs.lightroomInput.click()"
                                class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                            </button>
                            <input
                                @change="imagePreview($event, 'lightroom')"
                                class="hidden"
                                ref="lightroomInput"
                                name="lightroom"
                                accept="image/*"
                                type="file"
                            >
                            <input v-if="lightroom.delete" name="lightroom_delete" value="delete" type="hidden">
                        </div>
                    </div>

                    <div v-show="activeTab == 'photoshop'">
                        <div @drop.prevent="imageDrop($event, 'photoshop')" @dragover.prevent class="inline-block relative">
                            <img
                                v-show="photoshop.url"
                                @click="$refs.photoshopInput.click()"
                                :src="photoshop.url"
                                class="cursor-pointer"
                                alt="Lightroom"
                            >
                            <img
                                v-show="! photoshop.url"
                                @click="$refs.photoshopInput.click()"
                                v-holder="{img: '2000x2000', auto: 'yes', text: '2000x2000 (máximo)'}"
                                class="cursor-pointer"
                                alt="Lightroom"
                            >
                            <button
                                v-if="photoshop.url"
                                @click="imageDelete('photoshop')"
                                class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                            </button>
                            <button
                                @click="$refs.photoshopInput.click()"
                                class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                            </button>
                            <input
                                @change="imagePreview($event, 'photoshop')"
                                class="hidden"
                                ref="photoshopInput"
                                name="photoshop"
                                accept="image/*"
                                type="file"
                            >
                            <input v-if="photoshop.delete" name="photoshop_delete" value="delete" type="hidden">
                        </div>
                    </div>
                </div>
            </form>

            <template v-slot:footer>
                <div v-if="formObject.route" class="flex">
                    <button
                        v-if="formObject.beauty.id"
                        @click="$modal.show('confirmationModal')"
                        :disabled="formDeleting"
                        class="btn btn-outline-danger"
                        type="button"
                    >
                        <span v-if="! formDeleting">Eliminar</span>
                        <font-awesome-icon v-else :icon="['fal', 'spinner']" pulse/>
                    </button>

                    <button
                        @click="$modal.hide('formModal')"
                        class="btn btn-link ml-auto"
                        type="button"
                    >Cancelar</button>

                    <button
                        :disabled="formSending"
                        class="btn btn-primary ml-2"
                        form="form"
                        type="submit"
                    >
                        <span v-if="! formSending">Guardar</span>
                        <font-awesome-icon v-else :icon="['fal', 'spinner']" pulse/>
                    </button>
                </div>
            </template>
        </t-modal>

        <t-modal name="confirmationModal">
            ¿Desea eliminar la foto permanentemente?
            <template v-slot:footer>
                <div class="flex">
                    <button
                        @click="$modal.hide('confirmationModal')"
                        class="btn btn-link ml-auto"
                        type="button"
                    >Cancelar</button>

                    <button
                        @click="[updateModel($refs.form, true), $modal.hide('confirmationModal')]"
                        class="btn btn-danger ml-2"
                        type="submit"
                    >Aceptar</button>
                </div>
            </template>
        </t-modal>

        <h2 class="text-2xl pb-4 mb-4 border-b border-gray-400">Editar beauties</h2>

        <t-alert :show="true" :dismissible="false" class="mb-4">
            <button
                @click="showPageInfo = !showPageInfo"
                class="flex justify-between w-full font-bold"
                type="button"
            >
                Información
                <font-awesome-icon icon="angle-down" :flip="showPageInfo ? 'vertical' : null"/>
            </button>

            <div v-show="showPageInfo" class="mt-4">
                <p>En un mismo beauty se suben las 2 versiones (Lightroom y Photoshop).</p>
                <p>Las miniaturas tienen que ser cuadradas, pero las fotos pueden tener cualquier proporción.</p>
                <p>Las miniaturas deben ser un recorte de la foto final (Lightroom o Photoshop).</p>
            </div>
        </t-alert>

        <div class="flex mb-4 justify-end">
            <button
                @click="editModel(data.createUrl)"
                class="btn btn-secondary"
                type="button"
            >
                Agregar beauty
            </button>
        </div>

        <form
            :action="data.route"
            method="post"
            accept-charset="UTF-8"
            ref="sortForm"
            id="sortForm"
        >
            <draggable
                v-model="fetchedData"
                @end="drag=false"
                @start="drag=true"
                @update="sortPhotos"
                class="photos-grid grid grid-cols-3"
                group="photos"
                handle=".handle"
            >
                <a
                    v-for="beauty in fetchedData"
                    @click.prevent="editModel(beauty.editUrl)"
                    :key="beauty.id"
                    :href="beauty.editUrl"
                    class="relative block w-full"
                >
                    <button class="handle absolute top-0 left-0 bg-gray-400 p-2 cursor-move" type="button">
                        <font-awesome-icon :icon="['fal', 'arrows']"/>
                    </button>

                    <img v-if="! beauty.thumbnailUrl" v-holder="{img: '322x322', auto: 'yes'}" class="w-full">
                    <img v-else :src="beauty.thumbnailUrl" class="w-full">

                    <input type="hidden" name="beauties[]" :value="beauty.id">
                </a>
            </draggable>
        </form>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';
    import { crudMixin } from '../mixins/crudMixin.js';

    export default {
        mixins: [crudMixin],

        components: {
            draggable,
        },

        props: {
            // Contenido inicial (usuario)
            data: {
                type: Object,
                required: true,
            },
        },

        data() {
            return {
                fetchedData: this.data.beauties,
                activeTab: 'thumbnail',
                thumbnail: {
                    url: null,
                    delete: false,
                },
                before: {
                    url: null,
                    delete: false,
                },
                lightroom: {
                    url: null,
                    delete: false,
                },
                photoshop: {
                    url: null,
                    delete: false,
                },
            };
        },

        watch: {
            /**
             * Actualiza los valores de las imágenes del formulario cuando se carga información nueva.
             *
             * @param {object} data Object con la información del formulario.
             */
            formObject(data) {
                if (typeof data.beauty !== 'undefined') {
                    this.thumbnail = {
                        url: data.beauty ? data.beauty.thumbnailUrl : null,
                        delete: false,
                    }
                    this.before = {
                        url: data.beauty ? data.beauty.beforeUrl : null,
                        delete: false,
                    }
                    this.lightroom = {
                        url: data.beauty ? data.beauty.lightroomUrl : null,
                        delete: false,
                    }
                    this.photoshop = {
                        url: data.beauty ? data.beauty.photoshopUrl : null,
                        delete: false,
                    }
                } else {
                    this.thumbnail = {
                        url: null,
                        delete: false,
                    }
                    this.before = {
                        url: null,
                        delete: false,
                    }
                    this.lightroom = {
                        url: null,
                        delete: false,
                    }
                    this.photoshop = {
                        url: null,
                        delete: false,
                    }
                }
            },
        },

        methods: {
            /**
             * Actualiza el orden de las fotos en la DB.
             */
            sortPhotos() {
                // Form
                let form = this.$refs.sortForm

                // Form data
                let formData = new FormData(form);

                // AJAX
                axios.post(form.action, formData);
            },
        },
    }
</script>

<style lang="scss" scoped>
    .photos-grid {
        gap: 3px;
        @media (min-width: 768px) {
            gap: 28px;
        }
    }
</style>
