<template>
    <div>
        <t-modal name="modalPicture" variant="picture">
            <div v-if="modalPicture">
                <nav class="flex flex-row bg-white">
                    <button
                        @click="activeTab = 'lightroom'"
                        :class="'block py-2 px-4 hover:text-black ' + ((activeTab == 'lightroom') ? 'text-black font-medium' : 'text-gray-600')"
                        type="button"
                    >
                        Original / Lightroom
                    </button>
                    <button
                        @click="activeTab = 'photoshop'"
                        :class="'block py-2 px-4 hover:text-black ' + ((activeTab == 'photoshop') ? 'text-black font-medium' : 'text-gray-600')"
                        type="button"
                    >
                        Original / Photoshop
                    </button>
                    <button
                        @click="activeTab = 'lightroomPhotoshop'"
                        :class="'block py-2 px-4 hover:text-black ' + ((activeTab == 'lightroomPhotoshop') ? 'text-black font-medium' : 'text-gray-600')"
                        type="button"
                    >
                        Lightroom / Photoshop
                    </button>
                </nav>

                <div class="pt-2">
                    <div v-show="activeTab == 'lightroom'">
                        <VueCompareImage
                            v-if="modalPicture.beforeUrl && modalPicture.lightroomUrl"
                            :leftImage="modalPicture.beforeUrl"
                            leftLabel="Original"
                            :rightImage="modalPicture.lightroomUrl"
                            rightLabel="Lightroom"
                        />
                        <img v-else :src="modalPicture.beforeUrl || modalPicture.lightroomUrl" class="w-full single-picture">
                    </div>

                    <div v-show="activeTab == 'photoshop'">
                        <VueCompareImage
                            v-if="modalPicture.beforeUrl && modalPicture.photoshopUrl"
                            :leftImage="modalPicture.beforeUrl"
                            leftLabel="Original"
                            :rightImage="modalPicture.photoshopUrl"
                            rightLabel="Photoshop"
                        />
                        <img v-else :src="modalPicture.beforeUrl || modalPicture.photoshopUrl" class="w-full single-picture">
                    </div>

                    <div v-show="activeTab == 'lightroomPhotoshop'">
                        <VueCompareImage
                            v-if="modalPicture.lightroomUrl && modalPicture.photoshopUrl"
                            :leftImage="modalPicture.lightroomUrl"
                            leftLabel="Lightroom"
                            :rightImage="modalPicture.photoshopUrl"
                            rightLabel="Photoshop"
                        />
                        <img v-else :src="modalPicture.lightroomUrl || modalPicture.photoshopUrl" class="w-full single-picture">
                    </div>
                </div>
            </div>
        </t-modal>

        <main-header :user="user"></main-header>

        <div class="container lg:max-w-screen-md mx-auto px-4 mt-8 md:mt-16 mb-8">
            <sections-nav :user="user" active="beauties"></sections-nav>

            <div class="grid gap-4 grid-cols-1">
                <a
                    v-for="beauty in beauties"
                    @click.prevent="showPicture(beauty)"
                    :href="beauty.showUrl"
                    class="picture block relative w-full"
                >
                    <div class="picture-overlay">
                        <img v-if="! beauty.thumbnailUrl" v-holder="{img: '768x768', auto: 'yes'}" class="w-full">
                        <img v-else :src="beauty.thumbnailUrl" class="w-full">
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            // Usuario
            user: {
                type: Object,
                required: true,
            },

            // Beauties
            beauties: {
                type: Array,
                required: true,
            },
        },

        data() {
            return {
                modalPicture: null,
                activeTab: 'lightroom',
            }
        },

        methods: {
            /**
             * Abre el modal y muestra las fotos.
             */
            showPicture(model) {
                this.modalPicture = model;
                this.$modal.show('modalPicture');
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>
