<template>
    <div class="container px-4 mx-auto mt-8 md:mt-16 mb-8 space-y-8">
        <div v-for="course in courses">
            <h1 :id="course.slug" class="mb-4 text-xl">{{ course.name }}</h1>

            <div class="grid gap-4 grid-cols-2 md:grid-cols-4 users-grid">
                <a
                    v-for="user in course.users"
                    :href="user.showUrl"
                    class="block overflow-hidden rounded-lg shadow transition transform duration-200 hover:-translate-y-2"
                >
                    <header>
                        <img
                            v-if="user.headerUrl"
                            :src="user.headerUrl"
                            class="header-img object-cover w-full"
                            alt="Header"
                        >
                        <img
                            v-else
                            v-holder="{img: '1920x640', auto: 'yes'}"
                            class="header-img object-cover w-full"
                            alt="Header"
                        >
                    </header>
                    <div class="flex flex-col items-center">
                        <img
                            v-if="user.avatarUrl"
                            :src="user.avatarUrl"
                            class="user-avatar rounded-full border-2 md:border-4 border-gray-100"
                            alt="Avatar"
                        >
                        <img
                            v-else
                            v-holder="{img: '200x200', auto: 'yes', size: 20}"
                            class="user-avatar rounded-full border-2 md:border-4 border-gray-100"
                            alt="Avatar"
                        >
                        <h2 class="pt-2 pb-4 text-center font-bold">{{ user.name }}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            // Comisiones
            courses: {
                type: Array,
                required: true,
            },
        },
    }
</script>

<style lang="scss" scoped>
    .header-img {
        @media (min-width: 768px) {
            height: 100px;
        }
    }

    .user-avatar {
        margin-top: -30px;
        width: 100%;
        max-width: 60px;

        @media (min-width: 768px) {
            margin-top: -50px;
            max-width: 100px;
        }
    }
</style>
