<template>
    <header>
        <img
            v-if="user.headerUrl"
            :src="user.headerUrl"
            class="header-img object-cover w-full"
            alt="Header"
        >
        <img
            v-else
            v-holder="{img: '1920x640', auto: 'yes'}"
            class="header-img object-cover w-full"
            alt="Header"
        >

        <div class="container mx-auto px-4">
            <div class="flex items-start">
                <a :href="user.editUrl || user.showUrl">
                    <img
                        v-if="user.avatarUrl"
                        :src="user.avatarUrl"
                        class="user-avatar relative rounded-full border-4 border-gray-100"
                        alt="Avatar"
                    >
                    <img
                        v-else
                        v-holder="{img: '200x200', auto: 'yes', size: 20}"
                        class="user-avatar relative rounded-full border-4 border-gray-100"
                        alt="Avatar"
                    >
                </a>

                <ul class="mt-1 ml-1 md:mt-4 md:ml-4">
                    <li v-if="user.name" class="text-2xl font-bold">
                        <a :href="user.showUrl" class="hover:underline">{{ user.name }}</a>
                    </li>
                    <li v-if="user.course" class="mt-1">
                        <a :href="user.course.show" class="hover:underline">{{ user.course.name }}</a>
                    </li>
                    <li v-if="user.email" class="mt-1">
                        <a :href="'mailto:' + user.email" class="hover:underline">{{ user.email }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        props: {
            // Usuario
            user: {
                type: Object,
                required: true,
            },
        },
    }
</script>

<style lang="scss" scoped>
    .header-img {
        @media (min-width: 768px) {
            height: 320px;
        }
    }

    .user-avatar {
        margin-top: -55px;
        width: 100%;
        max-width: 110px;

        @media (min-width: 768px) {
            margin-top: -100px;
            max-width: 200px;
        }
    }
</style>
