<template>
    <div>
        <t-modal name="modalPicture" variant="picture">
            <div v-if="modalPicture">
                <VueCompareImage
                    v-if="modalPicture.beforeUrl && modalPicture.afterUrl"
                    :leftImage="modalPicture.beforeUrl"
                    :rightImage="modalPicture.afterUrl"
                />
                <img v-else :src="modalPicture.beforeUrl || modalPicture.afterUrl" class="w-full single-picture">
            </div>
        </t-modal>

        <main-header :user="user"></main-header>

        <div class="md:container xl:max-w-screen-lg mx-auto md:px-4 mt-8 md:mt-16 mb-8">
            <sections-nav :user="user" active="photos"></sections-nav>

            <div class="photos-grid grid grid-cols-3">
                <a
                    v-for="photo in photos"
                    @click.prevent="showPicture(photo)"
                    :href="photo.showUrl"
                    class="picture block relative w-full"
                >
                    <div class="picture-overlay">
                        <img v-if="! photo.thumbnailUrl" v-holder="{img: '322x322', auto: 'yes'}" class="w-full">
                        <img v-else :src="photo.thumbnailUrl" class="w-full">
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            // Usuario
            user: {
                type: Object,
                required: true,
            },

            // Fotos
            photos: {
                type: Array,
                required: true,
            },
        },

        data() {
            return {
                modalPicture: null,
            }
        },

        methods: {
            /**
             * Abre el modal y muestra las fotos.
             */
            showPicture(model) {
                this.modalPicture = model.picture;
                this.$modal.show('modalPicture');
            },
        }
    }
</script>

<style lang="scss" scoped>
    .photos-grid {
        gap: 3px;
        @media (min-width: 768px) {
            gap: 28px;
        }
    }
</style>
