<template>
    <div>
        <t-modal @closed="[clearForm(), activeTab = 'thumbnail']" name="formModal">
            <template v-slot:header>
                <h1 v-if="formObject.route">{{ formObject.title }}</h1>
            </template>

            <div v-if="! formObject.route">
                <div v-if="formLoading" class="flex justify-center">
                    <font-awesome-icon :icon="['fal', 'spinner']" size="2x" pulse/>
                </div>

                <t-alert :show="Boolean(formErrors.message)" :dismissible="false" variant="danger">
                    {{ formErrors.message }}
                </t-alert>
            </div>

            <form
                v-else
                @submit.prevent="updateModel($event.target)"
                :action="formObject.route"
                method="post"
                accept-charset="UTF-8"
                ref="form"
                id="form"
                files="true"
            >
                <input v-model="formObject.method" type="hidden" name="_method">

                <t-alert :show="true" :dismissible="false" class="mb-4">
                    <button
                        @click="showModalInfo = !showModalInfo"
                        class="flex justify-between w-full font-bold"
                        type="button"
                    >
                        Información
                        <font-awesome-icon icon="angle-down" :flip="showModalInfo ? 'vertical' : null"/>
                    </button>

                    <div v-show="showModalInfo" class="mt-4">
                        <b>Miniatura vino:</b>
                        <ul>
                            <li>Definición: 827 x 465 px</li>
                            <li>Peso máximo: 250 KB</li>
                        </ul>

                        <b class="block mt-4">Miniatura recortes:</b>
                        <ul>
                            <li>Definición: 296 x 167 px</li>
                            <li>Peso máximo: 250 KB</li>
                        </ul>

                        <b class="block mt-4">Originales y finales:</b>
                        <p>Ambas imágenes deben medir exactamente lo mismo. Pueden tener cualquier proporción.</p>
                        <p>Las imágenes finales de los recortes deben estar con fondo transparente (PNG).</p>

                        <ul class="mt-2">
                            <li>Definición máxima: 1080 x 1080 px</li>
                            <li>Peso máximo (JPG): 600 KB</li>
                            <li>Peso máximo (PNG): 1500 KB</li>
                        </ul>
                    </div>
                </t-alert>

                <t-alert :show="Boolean(formErrors.message)" :dismissible="false" variant="danger">
                    {{ formErrors.message }}
                </t-alert>

                <t-alert :show="formErrors.errors.hasOwnProperty('thumbnail')" :dismissible="false" variant="danger">
                    <ul>
                        <li v-for="error in formErrors.errors.thumbnail">{{ error }}</li>
                    </ul>
                </t-alert>

                <t-alert :show="formErrors.errors.hasOwnProperty('before')" :dismissible="false" variant="danger">
                    <ul>
                        <li v-for="error in formErrors.errors.before">{{ error }}</li>
                    </ul>
                </t-alert>

                <t-alert :show="formErrors.errors.hasOwnProperty('after')" :dismissible="false" variant="danger">
                    <ul>
                        <li v-for="error in formErrors.errors.after">{{ error }}</li>
                    </ul>
                </t-alert>

                <nav class="flex flex-row border-b-2">
                    <button
                        @click="activeTab = 'thumbnail'"
                        :class="['block py-2 px-4 -mb-2px hover:text-blue-500 border-b-2', {'text-blue-500 font-medium border-blue-500': activeTab == 'thumbnail'}]"
                        type="button"

                    >
                        Miniatura
                    </button>
                    <button
                        @click="activeTab = 'before'"
                        :class="['block py-2 px-4 -mb-2px hover:text-blue-500 border-b-2', {'text-blue-500 font-medium border-blue-500': activeTab == 'before'}]"
                        type="button"
                    >
                        Original
                    </button>
                    <button
                        @click="activeTab = 'after'"
                        :class="['block py-2 px-4 -mb-2px hover:text-blue-500 border-b-2', {'text-blue-500 font-medium border-blue-500': activeTab == 'after'}]"
                        type="button"
                    >
                        Final
                    </button>
                </nav>

                <div class="pt-2">
                    <div v-show="activeTab == 'thumbnail'">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div>
                                <div>
                                    <label class="form-label" for="name">Nombre del producto</label>
                                    <t-input
                                        v-model="formObject.product.name"
                                        :variant="formErrors.errors.hasOwnProperty('name') ? 'danger' : null"
                                        name="name"
                                        id="name"
                                        required
                                    />
                                    <div v-for="error in formErrors.errors.name" class="invalid-feedback">{{ error }}</div>
                                </div>

                                <div class="mt-4">
                                    <label class="form-label" for="price">Precio</label>
                                    <t-input
                                        v-model="formObject.product.price"
                                        :variant="formErrors.errors.hasOwnProperty('price') ? 'danger' : null"
                                        name="price"
                                        id="price"
                                    />
                                    <div v-for="error in formErrors.errors.price" class="invalid-feedback">{{ error }}</div>
                                </div>
                            </div>
                            <div @drop.prevent="imageDrop($event, 'thumbnail')" @dragover.prevent class="inline-block relative">
                                <img
                                    v-show="thumbnail.url"
                                    @click="$refs.thumbnailInput.click()"
                                    :src="thumbnail.url"
                                    class="cursor-pointer"
                                    alt="Miniatura"
                                >
                                <img
                                    v-show="! thumbnail.url"
                                    @click="$refs.thumbnailInput.click()"
                                    v-holder="{img: '827x465', auto: 'yes'}"
                                    class="cursor-pointer"
                                    alt="Miniatura"
                                >
                                <button
                                    v-if="thumbnail.url"
                                    @click="imageDelete('thumbnail')"
                                    class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                                    type="button"
                                >
                                    <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                                </button>
                                <button
                                    @click="$refs.thumbnailInput.click()"
                                    class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                                    type="button"
                                >
                                    <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                                </button>
                                <input
                                    @change="imagePreview($event, 'thumbnail')"
                                    class="hidden"
                                    ref="thumbnailInput"
                                    name="thumbnail"
                                    accept="image/*"
                                    type="file"
                                >
                                <input v-if="thumbnail.delete" name="thumbnail_delete" value="delete" type="hidden">
                            </div>
                        </div>
                    </div>

                    <div v-show="activeTab == 'before'">
                        <div @drop.prevent="imageDrop($event, 'before')" @dragover.prevent class="inline-block relative">
                            <img
                                v-show="before.url"
                                @click="$refs.beforeInput.click()"
                                :src="before.url"
                                class="cursor-pointer"
                                alt="Original"
                            >
                            <img
                                v-show="! before.url"
                                @click="$refs.beforeInput.click()"
                                v-holder="{img: '1080x1080', auto: 'yes', text: '1080x1080 (máximo)'}"
                                class="cursor-pointer"
                                alt="Original"
                            >
                            <button
                                v-if="before.url"
                                @click="imageDelete('before')"
                                class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                            </button>
                            <button
                                @click="$refs.beforeInput.click()"
                                class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                            </button>
                            <input
                                @change="imagePreview($event, 'before')"
                                class="hidden"
                                ref="beforeInput"
                                name="before"
                                accept="image/*"
                                type="file"
                            >
                            <input v-if="before.delete" name="before_delete" value="delete" type="hidden">
                        </div>
                    </div>

                    <div v-show="activeTab == 'after'">
                        <div @drop.prevent="imageDrop($event, 'after')" @dragover.prevent class="inline-block relative">
                            <img
                                v-show="after.url"
                                @click="$refs.afterInput.click()"
                                :src="after.url"
                                class="cursor-pointer"
                                alt="Final"
                            >
                            <img
                                v-show="! after.url"
                                @click="$refs.afterInput.click()"
                                v-holder="{img: '1080x1080', auto: 'yes', text: '1080x1080 (máximo)'}"
                                class="cursor-pointer"
                                alt="Final"
                            >
                            <button
                                v-if="after.url"
                                @click="imageDelete('after')"
                                class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                            </button>
                            <button
                                @click="$refs.afterInput.click()"
                                class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                                type="button"
                            >
                                <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                            </button>
                            <input
                                @change="imagePreview($event, 'after')"
                                class="hidden"
                                ref="afterInput"
                                name="after"
                                accept="image/*"
                                type="file"
                            >
                            <input v-if="after.delete" name="after_delete" value="delete" type="hidden">
                        </div>
                    </div>
                </div>
            </form>

            <template v-slot:footer>
                <div v-if="formObject.route" class="flex">
                    <button
                        v-if="formObject.product.id"
                        @click="$modal.show('confirmationModal')"
                        :disabled="formDeleting"
                        class="btn btn-outline-danger"
                        type="button"
                    >
                        <span v-if="! formDeleting">Eliminar</span>
                        <font-awesome-icon v-else :icon="['fal', 'spinner']" pulse/>
                    </button>

                    <button
                        @click="$modal.hide('formModal')"
                        class="btn btn-link ml-auto"
                        type="button"
                    >Cancelar</button>

                    <button
                        :disabled="formSending"
                        class="btn btn-primary ml-2"
                        form="form"
                        type="submit"
                    >
                        <span v-if="! formSending">Guardar</span>
                        <font-awesome-icon v-else :icon="['fal', 'spinner']" pulse/>
                    </button>
                </div>
            </template>
        </t-modal>

        <t-modal name="confirmationModal">
            ¿Desea eliminar el producto permanentemente?
            <template v-slot:footer>
                <div class="flex">
                    <button
                        @click="$modal.hide('confirmationModal')"
                        class="btn btn-link ml-auto"
                        type="button"
                    >Cancelar</button>

                    <button
                        @click="[updateModel($refs.form, true), $modal.hide('confirmationModal')]"
                        class="btn btn-danger ml-2"
                        type="submit"
                    >Aceptar</button>
                </div>
            </template>
        </t-modal>

        <h2 class="text-2xl pb-4 mb-4 border-b border-gray-400">Editar productos</h2>

        <t-alert :show="true" :dismissible="false" class="mb-4">
            <button
                @click="showPageInfo = !showPageInfo"
                class="flex justify-between w-full font-bold"
                type="button"
            >
                Información
                <font-awesome-icon icon="angle-down" :flip="showPageInfo ? 'vertical' : null"/>
            </button>

            <div v-show="showPageInfo" class="mt-4">
                <p>Se tienen que subir 3 imágenes. La primera es la de la botella de vino, las otras los recortes.</p>
                <p>Las imágenes finales de los recortes deben estar con fondo transparente (PNG).</p>
                <p>Las miniaturas pueden ser un recorte de la foto final o algo distinto.</p>
            </div>
        </t-alert>

        <div class="flex mb-4 justify-end">
            <button
                @click="editModel(data.createUrl)"
                class="btn btn-secondary"
                type="button"
            >
                Agregar producto
            </button>
        </div>

        <form
            :action="data.route"
            method="post"
            accept-charset="UTF-8"
            ref="sortForm"
            id="sortForm"
        >
            <draggable
                v-model="fetchedData"
                @end="drag=false"
                @start="drag=true"
                @update="sortPhotos"
                class="product-grid grid gap-4 grid-cols-2 md:grid-cols-3"
                group="photos"
                handle=".handle"
            >
                <a
                    v-for="product in fetchedData"
                    @click.prevent="editModel(product.editUrl)"
                    :key="product.id"
                    :href="product.editUrl"
                    class="relative block w-full"
                >
                    <button class="handle absolute top-0 left-0 bg-gray-400 p-2 cursor-move" type="button">
                        <font-awesome-icon :icon="['fal', 'arrows']"/>
                    </button>

                    <img v-if="! product.thumbnailUrl" v-holder="{img: '322x322', auto: 'yes'}" class="w-full">
                    <img v-else :src="product.thumbnailUrl" class="w-full">

                    <input type="hidden" name="products[]" :value="product.id">
                </a>
            </draggable>
        </form>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';
    import { crudMixin } from '../mixins/crudMixin.js';

    export default {
        mixins: [crudMixin],

        components: {
            draggable,
        },

        props: {
            // Contenido inicial (usuario)
            data: {
                type: Object,
                required: true,
            },
        },

        data() {
            return {
                fetchedData: this.data.products,
                activeTab: 'thumbnail',
                thumbnail: {
                    url: null,
                    delete: false,
                },
                before: {
                    url: null,
                    delete: false,
                },
                after: {
                    url: null,
                    delete: false,
                },
            };
        },

        watch: {
            /**
             * Actualiza los valores de las imágenes del formulario cuando se carga información nueva.
             *
             * @param {object} data Object con la información del formulario.
             */
            formObject(data) {
                if (typeof data.product !== 'undefined') {
                    this.thumbnail = {
                        url: data.product ? data.product.thumbnailUrl : null,
                        delete: false,
                    }
                    this.before = {
                        url: data.product.picture ? data.product.picture.beforeUrl : null,
                        delete: false,
                    }
                    this.after = {
                        url: data.product.picture ? data.product.picture.afterUrl : null,
                        delete: false,
                    }
                } else {
                    this.thumbnail = {
                        url: null,
                        delete: false,
                    }
                    this.before = {
                        url: null,
                        delete: false,
                    }
                    this.after = {
                        url: null,
                        delete: false,
                    }
                }
            },
        },

        methods: {
            /**
             * Actualiza el orden de las fotos en la DB.
             */
            sortPhotos() {
                // Form
                let form = this.$refs.sortForm

                // Form data
                let formData = new FormData(form);

                // AJAX
                axios.post(form.action, formData);
            },
        },
    }
</script>

<style lang="scss" scoped>
    .product-grid {
        > *:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/2;
            @media (min-width: 768px) {
                grid-column: 1/3;
                grid-row: 1/3;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        > *:nth-child(2) {
            grid-column: 1/2;
            grid-row: 2/3;
            @media (min-width: 768px) {
                grid-column: 3/4;
                grid-row: 1/2;
            }
        }

        > *:nth-child(3) {
            grid-column: 2/3;
            grid-row: 2/3;
            @media (min-width: 768px) {
                grid-column: 3/4;
                grid-row: 2/3;
            }
        }
    }
</style>
