<template>
    <div>
        <t-modal name="modalPicture" variant="picture">
            <div v-if="modalPicture">
                <VueCompareImage
                    v-if="modalPicture.beforeUrl && modalPicture.afterUrl"
                    :leftImage="modalPicture.beforeUrl"
                    :rightImage="modalPicture.afterUrl"
                    class="bg-teal-300"
                />
                <img v-else :src="modalPicture.beforeUrl || modalPicture.afterUrl" class="w-full single-picture">
            </div>
        </t-modal>

        <main-header :user="user"></main-header>

        <div class="container mx-auto px-4 mt-8 md:mt-16 mb-8">
            <sections-nav :user="user" active="products"></sections-nav>

            <div class="product-grid grid gap-4 grid-cols-2 md:grid-cols-3">
                <a
                    v-for="product in products"
                    @click.prevent="showPicture(product)"
                    :href="product.showUrl"
                    class="picture block relative w-full"
                >
                    <div class="picture-overlay h-full">
                        <img v-if="! product.thumbnailUrl" v-holder="{img: '322x322', auto: 'yes'}" class="w-full">
                        <img v-else :src="product.thumbnailUrl" class="w-full">
                    </div>

                    <div class="absolute right-0 bottom-0 left-0 py-2 px-4 bg-gray-500 bg-opacity-50 text-white">
                        <span v-if="product.name">{{ product.name }}</span>
                        <span v-if="product.price">{{ product.name ? '- ' + product.price : product.price }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            // Usuario
            user: {
                type: Object,
                required: true,
            },

            // Productos
            products: {
                type: Array,
                required: true,
            },
        },

        data() {
            return {
                modalPicture: null,
            }
        },

        methods: {
            /**
             * Abre el modal y muestra las fotos.
             */
            showPicture(model) {
                this.modalPicture = model.picture;
                this.$modal.show('modalPicture');
            },
        }
    }
</script>

<style lang="scss" scoped>
    .product-grid {
        > *:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/2;
            @media (min-width: 768px) {
                grid-column: 1/3;
                grid-row: 1/3;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        > *:nth-child(2) {
            grid-column: 1/2;
            grid-row: 2/3;
            @media (min-width: 768px) {
                grid-column: 3/4;
                grid-row: 1/2;
            }
        }

        > *:nth-child(3) {
            grid-column: 2/3;
            grid-row: 2/3;
            @media (min-width: 768px) {
                grid-column: 3/4;
                grid-row: 2/3;
            }
        }
    }
</style>
