<template>
    <nav class="flex flex-row justify-center mb-4 space-x-4 sm:space-x-8 border-b-2">
        <a
            :class="'block py-2 px-4 -mb-2px hover:text-black border-b-2 ' + ((active == 'products') ? 'text-black font-medium border-black' : 'text-gray-600')"
            :href="user.routes['products.index']"
        >
            Productos
        </a>

        <a
            :class="'block py-2 px-4 -mb-2px hover:text-black border-b-2 ' + ((active == 'photos') ? 'text-black font-medium border-black' : 'text-gray-600')"
            :href="user.routes['photos.index']"
        >
            Fotos
        </a>

        <a
            :class="'block py-2 px-4 -mb-2px hover:text-black border-b-2 ' + ((active == 'beauties') ? 'text-black font-medium border-black' : 'text-gray-600')"
            :href="user.routes['beauties.index']"
        >
            Beauties
        </a>
    </nav>
</template>

<script>
    export default {
        props: {
            // Usuario
            user: {
                type: Object,
                required: true,
            },

            // Tab activo
            active: {
                type: String,
                required: true,
            },
        },
    }
</script>

<style lang="scss" scoped>

</style>
