<template>
    <div>
        <main-header :user="user"></main-header>

        <div class="container mx-auto px-4 mt-8 md:mt-16 mb-8 grid gap-4 grid-cols-1 md:grid-cols-3">
            <a :href="user.routes['products.index']" class="picture block text-center">
                <div class="picture-overlay">
                    <img
                    v-if="user.productsImageUrl"
                    :src="user.productsImageUrl"
                    class="w-full"
                    alt="Productos"
                >
                    <img
                        v-else
                        v-holder="{img: '768x432', auto: 'yes'}"
                        class="w-full"
                        alt="Productos"
                    >
                </div>
                <span class="inline-block mt-1">Productos</span>
            </a>

            <a :href="user.routes['photos.index']" class="picture block text-center">
                <div class="picture-overlay">
                    <img
                    v-if="user.photosImageUrl"
                    :src="user.photosImageUrl"
                    class="w-full"
                    alt="Fotos"
                >
                    <img
                        v-else
                        v-holder="{img: '768x432', auto: 'yes'}"
                        class="w-full"
                        alt="Fotos"
                    >
                </div>
                <span class="inline-block mt-1">Fotos</span>
            </a>

            <a :href="user.routes['beauties.index']" class="picture block text-center">
                <div class="picture-overlay">
                    <img
                    v-if="user.beautiesImageUrl"
                    :src="user.beautiesImageUrl"
                    class="w-full"
                    alt="Beauties"
                >
                    <img
                        v-else
                        v-holder="{img: '768x432', auto: 'yes'}"
                        class="w-full"
                        alt="Beauties"
                    >
                </div>
                <span class="inline-block mt-1">Beauties</span>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            // Usuario
            user: {
                type: Object,
                required: true,
            },
        },
    }
</script>
