<template>
    <div>
        <div class="container mx-auto px-4">
            <div v-show="Boolean(success)" class="rounded p-4 flex text-sm border-l-4 bg-green-100 border-green-500">
                <div class="flex-grow text-green-700">
                    <div v-html="success"></div>
                </div>
                <button @click="success = null" type="button" class="ml-4 rounded text-green-700 hover:text-green-500 hover:bg-green-200">
                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-5 w-5 fill-current h-5 w-5 fill-current">
                        <path
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        ></path>
                    </svg>
                </button>
            </div>
        </div>

        <div class="settings-container container grid grid-cols-1 gap-4 mx-auto p-4">
            <div>
                <nav class="settings-nav border border-gray-400">
                    <a :href="profile.url" class="flex items-center py-2 px-4 border-b border-gray-400 hover:bg-gray-200">
                        <img
                            v-if="profile.avatar"
                            :src="profile.avatar"
                            class="rounded-full"
                            alt="Avatar"
                            width="32"
                            height="32"
                        >
                        <img
                            v-else
                            v-holder="{img: '32x32', auto: 'yes', text: profile.name.charAt(0)}"
                            class="rounded-full"
                            alt="Avatar"
                            width="32"
                            height="32"
                        >
                        <span class="ml-2">{{ profile.name }}</span>
                    </a>
                    <a :href="routes.profile" :class="'block py-2 px-4 border-l-2 hover:bg-gray-200 border-b border-gray-400' + (section == 'users' ? ' active' : '')">Perfil</a>
                    <a :href="routes.products" :class="'block py-2 px-4 border-l-2 hover:bg-gray-200 border-b border-gray-400' + (section == 'products' ? ' active' : '')">Productos</a>
                    <a :href="routes.photos" :class="'block py-2 px-4 border-l-2 hover:bg-gray-200 border-b border-gray-400' + (section == 'photos' ? ' active' : '')">Fotos</a>
                    <a :href="routes.beauties" :class="'block py-2 px-4 border-l-2 hover:bg-gray-200' + (section == 'beauties' ? ' active' : '')">Beauties</a>
                </nav>
            </div>

            <div>
                <component :is="section + '-create'" @modelUpdatedSuccess="success = $event" :data="data"></component>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            // Contenido inicial
            data: {
                type: Object,
                required: true,
            },

            // Perfil que se está visitando
            profile: {
                type: Object,
                required: true,
            },

            // Sección activa
            section: {
                type: String,
                required: true,
            },

            // Rutas de las distintas secciones
            routes: {
                type: Object,
                required: true,
            },
        },

        data() {
            return {
                success: null,
            }
        },
    }
</script>

<style lang="scss" scoped>
    .settings-container {
        @media (min-width: 768px) {
            grid-template-columns: 25% 1fr;
        }
    }

    .settings-nav {
        a {
            border-left-color: transparent;
        }
        .active {
            border-left-color: #fc8181;
        }
    }
</style>
