<template>
    <form
        @submit.prevent="updateModel($event.target)"
        :action="fetchedData.route"
        method="post"
        accept-charset="UTF-8"
        ref="profileForm"
        id="profileForm"
        files="true"
    >
        <input v-model="fetchedData.method" type="hidden" name="_method">

        <h2 class="text-2xl pb-4 mb-4 border-b border-gray-400">Editar perfil</h2>

        <div class="grid grid-cols-1 gap-4">
            <t-alert :show="true" :dismissible="false">
                <button
                    @click="showPageInfo = !showPageInfo"
                    class="flex justify-between w-full font-bold"
                    type="button"
                >
                    Información
                    <font-awesome-icon icon="angle-down" :flip="showPageInfo ? 'vertical' : null"/>
                </button>

                <div v-show="showPageInfo" class="mt-4">
                    <b>Encabezado:</b>
                    <ul>
                        <li>Definición: 1920 x 640 px</li>
                        <li>Peso máximo: 400 KB</li>
                    </ul>

                    <b class="block mt-4">Avatar:</b>
                    <ul>
                        <li>Definición: 200 x 200 px</li>
                        <li>Peso máximo: 100 KB</li>
                    </ul>

                    <b class="block mt-4">Secciones:</b>
                    <ul>
                        <li>Definición: 768 x 432 px</li>
                        <li>Peso máximo: 200 KB</li>
                    </ul>

                    <div class="mt-4">
                        <b>Resolución:</b> <span class="resolution">no importa!</span>
                    </div>
                </div>
            </t-alert>

            <header>
                <div @drop.prevent="imageDrop($event, 'header')" @dragover.prevent class="relative">
                    <img
                        v-show="header.url"
                        @click="$refs.headerInput.click()"
                        :src="header.url"
                        class="header-img object-cover w-full cursor-pointer"
                        alt="Header"
                    >
                    <img
                        v-show="! header.url"
                        @click="$refs.headerInput.click()"
                        v-holder="{img: '1920x640', auto: 'yes'}"
                        class="header-img object-cover w-full cursor-pointer"
                        alt="Header"
                    >
                    <button
                        v-if="header.url"
                        @click="imageDelete('header')"
                        class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                        type="button"
                    >
                        <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                    </button>
                    <button
                        @click="$refs.headerInput.click()"
                        class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                        type="button"
                    >
                        <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                    </button>
                    <input
                        @change="imagePreview($event, 'header')"
                        class="hidden"
                        ref="headerInput"
                        name="header"
                        accept="image/*"
                        type="file"
                    >
                    <input v-if="header.delete" name="header_delete" value="delete" type="hidden">
                </div>

                <div @drop.prevent="imageDrop($event, 'avatar')" @dragover.prevent class="relative inline-block">
                    <img
                        v-show="avatar.url"
                        @click="$refs.avatarInput.click()"
                        :src="avatar.url"
                        class="user-avatar relative rounded-full border-4 border-gray-100 cursor-pointer"
                        alt="Avatar"
                    >
                    <img
                        v-show="! avatar.url"
                        @click="$refs.avatarInput.click()"
                        v-holder="{img: '200x200', auto: 'yes', size: 20}"
                        class="user-avatar relative rounded-full border-4 border-gray-100 cursor-pointer"
                        alt="Avatar"
                    >
                    <button
                        v-if="avatar.url"
                        @click="imageDelete('avatar')"
                        class="absolute top-0 right-0 -mt-6 -mr-4 md:-mr-1 md:-mt-2 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                        type="button"
                    >
                        <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                    </button>
                    <button
                        @click="$refs.avatarInput.click()"
                        class="absolute right-0 -mt-4 -mr-4 md:-mr-1 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                        style="top:50%;"
                        type="button"
                    >
                        <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                    </button>
                    <input
                        @change="imagePreview($event, 'avatar')"
                        class="hidden"
                        ref="avatarInput"
                        name="avatar"
                        accept="image/*"
                        type="file"
                    >
                    <input v-if="avatar.delete" name="avatar_delete" value="delete" type="hidden">
                </div>
            </header>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="text-center">
                    <div @drop.prevent="imageDrop($event, 'productsImage')" @dragover.prevent class="relative">
                        <img
                            v-show="productsImage.url"
                            @click="$refs.productsImageInput.click()"
                            :src="productsImage.url"
                            class="w-full cursor-pointer"
                            alt="Productos"
                        >
                        <img
                            v-show="! productsImage.url"
                            @click="$refs.productsImageInput.click()"
                            v-holder="{img: '768x432', auto: 'yes', size: 20}"
                            class="w-full cursor-pointer"
                            alt="Productos"
                        >
                        <button
                            v-if="productsImage.url"
                            @click="imageDelete('productsImage')"
                            class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                            type="button"
                        >
                            <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                        </button>
                        <button
                            @click="$refs.productsImageInput.click()"
                            class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                            type="button"
                        >
                            <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                        </button>
                    </div>
                    <input
                        @change="imagePreview($event, 'productsImage')"
                        class="hidden"
                        ref="productsImageInput"
                        name="products_image"
                        accept="image/*"
                        type="file"
                    >
                    <input v-if="productsImage.delete" name="products_image_delete" value="delete" type="hidden">
                    <span class="inline-block mt-1">Productos</span>
                </div>

                <div class="text-center">
                    <div @drop.prevent="imageDrop($event, 'photosImage')" @dragover.prevent class="relative">
                        <img
                            v-show="photosImage.url"
                            @click="$refs.photosImageInput.click()"
                            :src="photosImage.url"
                            class="w-full cursor-pointer"
                            alt="Fotos"
                        >
                        <img
                            v-show="! photosImage.url"
                            @click="$refs.photosImageInput.click()"
                            v-holder="{img: '768x432', auto: 'yes', size: 20}"
                            class="w-full cursor-pointer"
                            alt="Fotos"
                        >
                        <button
                            v-if="photosImage.url"
                            @click="imageDelete('photosImage')"
                            class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                            type="button"
                        >
                            <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                        </button>
                        <button
                            @click="$refs.photosImageInput.click()"
                            class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                            type="button"
                        >
                            <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                        </button>
                    </div>
                    <input
                        @change="imagePreview($event, 'photosImage')"
                        class="hidden"
                        ref="photosImageInput"
                        name="photos_image"
                        accept="image/*"
                        type="file"
                    >
                    <input v-if="photosImage.delete" name="photos_image_delete" value="delete" type="hidden">
                    <span class="inline-block mt-1">Fotos</span>
                </div>

                <div class="text-center">
                    <div @drop.prevent="imageDrop($event, 'beautiesImage')" @dragover.prevent class="relative">
                        <img
                            v-show="beautiesImage.url"
                            @click="$refs.beautiesImageInput.click()"
                            :src="beautiesImage.url"
                            class="w-full cursor-pointer"
                            alt="Beauties"
                        >
                        <img
                            v-show="! beautiesImage.url"
                            @click="$refs.beautiesImageInput.click()"
                            v-holder="{img: '768x432', auto: 'yes', size: 20}"
                            class="w-full cursor-pointer"
                            alt="Beauties"
                        >
                        <button
                            v-if="beautiesImage.url"
                            @click="imageDelete('beautiesImage')"
                            class="btn-delete-img absolute right-0 bottom-0 mr-4 w-8 h-8 bg-red-600 hover:bg-red-800 text-white rounded-full"
                            type="button"
                        >
                            <font-awesome-icon :icon="['fal', 'trash-alt']"/>
                        </button>
                        <button
                            @click="$refs.beautiesImageInput.click()"
                            class="absolute right-0 bottom-0 mr-4 mb-4 w-8 h-8 bg-gray-600 hover:bg-gray-800 text-white rounded-full"
                            type="button"
                        >
                            <font-awesome-icon :icon="['fal', 'camera-alt']"/>
                        </button>
                    </div>
                    <input
                        @change="imagePreview($event, 'beautiesImage')"
                        class="hidden"
                        ref="beautiesImageInput"
                        name="beauties_image"
                        accept="image/*"
                        type="file"
                    >
                    <input v-if="beautiesImage.delete" name="beauties_image_delete" value="delete" type="hidden">
                    <span class="inline-block mt-1">Beauties</span>
                </div>
            </div>

            <t-alert
                :show="
                    formErrors.errors.hasOwnProperty('header') ||
                    formErrors.errors.hasOwnProperty('avatar') ||
                    formErrors.errors.hasOwnProperty('products_image') ||
                    formErrors.errors.hasOwnProperty('photos_image') ||
                    formErrors.errors.hasOwnProperty('beauties_image')
                "
                :dismissible="false"
                variant="danger"
            >
                <div v-for="error in formErrors.errors.header" class="invalid-feedback">{{ error }}</div>
                <div v-for="error in formErrors.errors.avatar" class="invalid-feedback">{{ error }}</div>
                <div v-for="error in formErrors.errors.products_image" class="invalid-feedback">{{ error }}</div>
                <div v-for="error in formErrors.errors.photos_image" class="invalid-feedback">{{ error }}</div>
                <div v-for="error in formErrors.errors.beauties_image" class="invalid-feedback">{{ error }}</div>
            </t-alert>

            <div>
                <label class="form-label" for="last_name">Apellido</label>
                <t-input
                    v-model="fetchedData.user.last_name"
                    :variant="formErrors.errors.hasOwnProperty('last_name') ? 'danger' : null"
                    name="last_name"
                    id="last_name"
                    required
                    autofocus
                />
                <div v-for="error in formErrors.errors.last_name" class="invalid-feedback">{{ error }}</div>
            </div>

            <div>
                <label class="form-label" for="first_name">Nombre</label>
                <t-input
                    v-model="fetchedData.user.first_name"
                    :variant="formErrors.errors.hasOwnProperty('first_name') ? 'danger' : null"
                    name="first_name"
                    id="first_name"
                    required
                />
                <div v-for="error in formErrors.errors.first_name" class="invalid-feedback">{{ error }}</div>
            </div>

            <div>
                <label class="form-label" for="course_id">Comisión</label>
                <t-select
                    v-model="fetchedData.user.course_id"
                    :options="fetchedData.courses"
                    :variant="formErrors.errors.hasOwnProperty('course_id') ? 'danger' : null"
                    name="course_id"
                    id="course_id"
                    required
                />
                <div v-for="error in formErrors.errors.course_id" class="invalid-feedback">{{ error }}</div>
            </div>

            <div>
                <label class="form-label" for="email">Email</label>
                <t-input
                    v-model="fetchedData.user.email"
                    name="email"
                    id="email"
                    disabled
                />
            </div>

            <t-alert :show="Boolean(formErrors.message)" :dismissible="false" variant="danger">
                {{ formErrors.message }}
            </t-alert>

            <div class="flex">
                <button
                    :disabled="formSending"
                    class="btn btn-primary ml-auto"
                    type="submit"
                >
                    <span v-if="! formSending">Guardar</span>
                    <font-awesome-icon v-else :icon="['fal', 'spinner']" pulse/>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import { crudMixin } from '../mixins/crudMixin.js';

    export default {
        mixins: [crudMixin],

        props: {
            // Contenido inicial (usuario)
            data: {
                type: Object,
                required: true,
            },
        },

        data() {
            return {
                fetchedData: this.data,
                header: {
                    url: this.data.user.headerUrl,
                    delete: false,
                },
                avatar: {
                    url: this.data.user.avatarUrl,
                    delete: false,
                },
                productsImage: {
                    url: this.data.user.productsImageUrl,
                    delete: false,
                },
                photosImage: {
                    url: this.data.user.photosImageUrl,
                    delete: false,
                },
                beautiesImage: {
                    url: this.data.user.beautiesImageUrl,
                    delete: false,
                },
            };
        },
    }
</script>

<style lang="scss" scoped>
    .header-img {
        @media (min-width: 768px) {
            height: 320px;
        }
    }

    .user-avatar {
        margin-top: -55px;
        margin-left: 1rem;
        width: 110px;
        height: 110px;

        @media (min-width: 768px) {
            margin-top: -100px;
            width: 200px;
            height: 200px;
        }
    }

    .resolution {
        transition: filter 0.2s ease;
        filter: blur(0.25rem);

        &:active, &:focus, &:hover {
            filter: blur(0);
        }
    }
</style>
