/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

[v-cloak] {
    display: none
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
/* purgecss start ignore */

/* Vue Compare */
.vci-container .right-image,
.single-picture {
    /*max-height: calc(100vh - 2rem);*/
}
.picture-close {
    z-index: 99999;
}
.max-w-pictures {
    /*max-width: calc(1080px + 2rem) !important;*/
}

/* Pictures */
.picture-overlay {
    position: relative;
}
.picture-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.picture:active .picture-overlay::before,
.picture:focus .picture-overlay::before,
.picture:hover .picture-overlay::before {
    opacity: 1;
}

/* Buttons */
.btn {
    @apply inline-block py-2 px-2 border rounded text-center;
}
.btn-primary {
    @apply bg-blue-500 border-blue-500 text-white;
}
.btn-primary:hover {
    @apply bg-blue-700 border-blue-700;
}
.btn-secondary {
    @apply bg-gray-500 border-gray-500 text-white;
}
.btn-secondary:hover {
    @apply bg-gray-700 border-gray-700;
}
.btn-danger {
    @apply bg-red-600 border-red-600 text-white;
}
.btn-danger:hover {
    @apply bg-red-700 border-red-700;
}
.btn-outline-danger {
    @apply bg-transparent border-red-600 text-red-600;
}
.btn-outline-danger:hover {
    @apply bg-red-600 text-white;
}
.btn-link {
    @apply border-0 text-gray-700;
}
.btn-link:hover {
    @apply underline;
}
.btn-delete-img {
    margin-bottom: 3.25rem;
}
@media (min-width: 768px) {
    .btn-delete-img {
        margin-bottom: 3.5rem;
    }
}

/* Forms */
.form-label {
    @apply inline-block text-gray-700 mb-2;
}
.form-input-invalid {
    @apply bg-red-100 border-red-300;
}
.invalid-feedback {
    @apply text-sm text-red-700;
}

/* Alerts */
.alert-container {
    position: fixed;
    bottom: 0;
    right: 15px;
    left: 15px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.alert-container .t-alert {
    max-width: 500px;
}
.alert-container .t-alert + .t-alert {
    @apply mb-2;
}

/* purgecss end ignore */


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
.-mb-2px {
    margin-bottom: -2px;
}
